<app-header></app-header>
<div
  class="mx-10 my-5 px-5 py-5 bg-green-200"
  *ngFor="let b of movie; let i = index"
>
  <h1 class="text-4xl text-cyan-800">
    {{ movie[i].title }}
    <div class="flex items-center">
      <svg
        class="w-5 h-5 text-yellow-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path>
      </svg>
      <p class="ml-2 text-sm font-bold text-gray-900">{{ movie[i].rating }}</p>
      <span
        class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"
      ></span>
      <span
        class="text-sm font-medium text-gray-700 underline hover:no-underline"
        >{{ movie[i].ratingCount }} reviews</span
      >&nbsp;
      <button
        class="text-sm font-medium text-gray-700 underline hover:no-underline"
        (click)="rateFor(i)"
      >
        Rate Movie
      </button>
      <div class="rating ml-10" *ngIf="rateClicked">
        <button
          name="rating-2"
          (click)="rateMovie(1)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(2)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(3)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(4)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(5)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(6)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(7)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(8)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(9)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <button
          name="rating-2"
          (click)="rateMovie(10)"
          class="hover:bg-orange-600 rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        ></button>
        <span class="text-sm text-orange-700" *ngIf="ratingSet"
          >Rate with: {{ rate }} Points
          <button
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            (click)="saveRating(i)"
          >
            Save Rating
          </button>
        </span>
      </div>
    </div>
  </h1>
  <br />
  <hr style="border: 1px solid brown" />

  <h2 class="text-sm text-cyan-500">Genre: {{ movie[i].genre }}</h2>
  <h2 class="text-sm text-cyan-500">Director: {{ movie[i].director }}</h2>
  <h2 class="text-sm text-cyan-500">
    Music Director: {{ movie[i].musicDirector }}
  </h2>
  <h2 class="text-sm text-cyan-500">Actors: {{ movie[i].actors }}</h2>

  <br /><img [src]="movie[i].img" /><br />
  <iframe
    width="560"
    height="315"
    [src]="safeURL"
    frameborder="0"
    allowfullscreen
  ></iframe>
  <p class="text-amber-800 text-justify indent-14"></p>
</div>
<br />

<button
  class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded ml-10"
  (click)="addBlog()"
>
  Add a blog/review</button
><br /><br />
<app-footer></app-footer>
