<div class="flex">
  <div class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto border-r">
    <h2 class="text-3xl font-semibold text-center text-pink-800">Admin</h2>

    <div class="flex flex-col justify-between mt-6">
      <aside>
        <ul>
          <li>
            <a
              class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-md"
              href="http://localhost:4200/admin"
            >
              <span class="mx-4 font-medium">Dashboard</span>
            </a>
          </li>

          <li>
            <a
              class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200"
              href="http://localhost:4200/admin.inbox"
            >
              <span class="mx-4 font-medium">Inbox</span>
            </a>
          </li>

          <li>
            <a
              class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200"
              href="http://localhost:4200/admin.viewuser"
            >
              <span class="mx-4 font-medium">Users</span>
            </a>
          </li>

          <li>
            <a
              class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200"
              href="http://localhost:4200/userredirect"
            >
              <span class="mx-4 font-medium">Back</span>
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="w-full h-full p-4 m-4 overflow-y-auto">
    <div class="flex items-center justify-center p-40 border-4 border-dotted">
      Under Construction!
    </div>
  </div>
</div>
