<!-- component -->
<div class="relative">
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-amber-700 text-white"
  >
    <h2 class="text-4xl">Moview - A place for movie lovers!</h2>
    <p>Navigate down to continue</p>
  </div>
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-yellow-500 text-white"
  >
    <h2 class="text-4xl">Find reviews, ratings, and much more!</h2>
    <a href="http://localhost:4200/home">Login</a>
  </div>
</div>
