<div class="relative">
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-amber-600 text-white"
  >
    <h2 class="text-5xl">Moview - a place for movie lovers</h2>
    <br />
    <p class="text-2xl">Scroll down to explore!</p>
  </div>
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-amber-500 text-white"
  >
    <a href="http://localhost:4200/login"
      ><h2 class="text-3xl text-amber-900 hover:text-white">Login</h2></a
    ><br />
    <a href="http://localhost:4200/home"
      ><h2 class="text-4xl hover:text-amber-900">Continue to site</h2></a
    ><br />
  </div>
</div>
