<app-header></app-header>
<main class="dark:bg-gray-800 bg-white relative overflow-hidden">
  <div class="bg-white dark:bg-orange-500 flex relative z-20 items-center">
    <div
      class="container mx-auto px-6 flex flex-col justify-between items-center relative py-8"
    >
      <div class="flex flex-col">
        <h2
          class="font-light max-w-2xl mx-auto w-full text-xl dark:text-white text-gray-500 text-center py-8"
        >
          Post Successful! See all blogs here!
        </h2>
        <div class="flex items-center justify-center mt-4">
          <a
            href="http://localhost:4200/incinemas"
            class="uppercase py-2 px-4 bg-gray-800 border-2 border-transparent text-white text-md mr-4 hover:bg-white hover:text-orange-600"
          >
            Ratings/Blogs
          </a>
          <a
            href="http://localhost:4200/toprated"
            class="uppercase py-2 px-4 bg-gray-800 border-2 border-transparent text-white text-md mr-4 hover:bg-white hover:text-orange-600"
          >
            Top Rated
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
